.search input {
  width: 450px;
  height: 30px;
  border: none;
  background-color: #505050;
  border-radius: 0px 2px 2px 0px;
  font-weight: 600;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60px;
}

.help-title {
  text-align: center;
  margin: 100px 0px 30px 0px;
}

main {
  margin: 10px;
}

.help {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.help-options {
  border: 1px solid #9b9b9b;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.help-options:hover {
  box-shadow: 0px 0px 0px 3px #7fbf3f inset;
}

.icons {
  width: 30px;
  height: auto;
  padding: 10px;
}

.help-options a {
  font-family: "Nirmala", Arial, Helvetica, sans-serif;
  color: #333333;
  font-weight: 700;
}

/*** KONTAKT SKJEMA  ***/

.h2-help {
  font-size: 4em;
  display: flex;
  justify-content: center;
  margin: 150px 0px 30px 0px;
  letter-spacing: 4px;
}

.contact {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-gap: 15px 5px;
  grid-template-columns: 1fr 1fr;
}

.contact-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form_input {
  width: 380px;
  height: 40px;
  border: 1px solid #9b9b9b;
  font-family: "Nirmala", Arial, Helvetica, sans-serif;
  color: #9b9b9b;
  padding: 5px;
}

.message {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-gap: 15px 5px;
  grid-template-columns: 1fr;
}

.message-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.message_input {
  width: 780px;
  height: 100px;
  border: 1px solid #9b9b9b;
  font-family: "Nirmala", Arial, Helvetica, sans-serif;
  color: #9b9b9b;
  padding: 5px;
  margin-top: 15px;
}

.contact-press-button {
  background-color: #7fbf3f;
  max-width: 150px;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  margin: 30px 0px 50px 0px;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 10px 30px;
  letter-spacing: 1px;
  color: #f2f2f2;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-press-button:hover {
  background-color: #f2f2f2;
  color: #333333;
  box-shadow: 0px 0px 0px 3px #333333 inset;
}

/*** RESPONSIVE ***/

@media (max-width: 1100px) {
  .help {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .help {
    grid-template-columns: 1fr;
  }

  .contact {
    grid-template-columns: 1fr;
  }

  .message_input {
    width: 380px;
  }

  .message {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 400px;
  }
}
