.table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  text-align: left;
  margin: auto;
  max-width: 1200px;
  padding: 30px 0px 70px 0px;
}

.table a {
  font-family: "Nirmala", Arial, Helvetica, sans-serif;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

main {
  margin: 5px;
}

.jacket {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.product-jacket {
  height: 450px;
}

.details {
  background: #dddddd;
  height: 450px;

  background-size: cover;
  background-position: center;
  padding: 10px;
}


.imgproduct {
  height: 450px;
}

.second-details {
  background: #dddddd;
  height: 450px;

  background-size: cover;
  background-position: center;
  padding: 10px;
}

.all-info {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 450px;
  padding: 10px;
}

.all-info-text {
  font-family: "Nirmala", Arial, Helvetica, sans-serif;
  color: #333333;
  letter-spacing: 3px;
}

p {
  font-family: "Nirmala", Arial, Helvetica, sans-serif;
  color: #9b9b9b;
  font-size: 1em;
  font-weight: 500;
  width: 280px;
}

.price {
  font-size: 2.5em;
  padding: 10px 0px;
}

/**RADIO BUTTONS**/

.colors {
  display: flex;
  margin-right: 8px;
}

.color-options {
  display: flex;
  flex-direction: row;
}

#color-red {
  background: #cb2541;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px 10px 5px 1px;
}

#color-orange {
  background: #ff4a2d;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px 10px 5px 0px;
}

#color-black {
  background: #333333;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px 10px 5px 0px;
}

#sizes {
  height: 40px;
  width: 280px;
  margin: 10px 0px;
}

/*** BUTTON ***/

.buttons-purchase {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 40px;
  background: #7fbf3f;
  align-items: center;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px 30px;
  letter-spacing: 1px;
  color: #f2f2f2;
  font-weight: 500;
  letter-spacing: 4px;
}

.buttons-purchase:hover {
  background-color: #f2f2f2;
  color: #333333;
  box-shadow: 0px 0px 0px 3px #333333 inset;
}

button {
  border: none;
}

hr {
  display: flex;
  margin-left: 0;
  height: 2px;
  border: 0;
  border-top: 1px solid #9b9b9b;
  width: 280px;
  padding: 2px;
}

.more-products {
  font-size: 3em;
  padding: 100px 0px 0px 0px;
}

.items {
  height: auto;
}

.items p {
  font-family: "Nirmala", Arial, Helvetica, sans-serif;
  color: #333333;
  margin-bottom: 50px;
}

.jackets {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding-bottom: 100px;
}

.jacket-preivew {
  overflow: hidden;
  box-sizing: border-box;
}

.jacket-image-smix,
.jacket-image-helly {
  height: 300px;
  background-size: cover;
  background-position: center;
}

.jacket-image-smix {
  background-image: url("../images/jackets/smix.jpg");
}

.jacket-image-smix:hover {
  background-image: url("../images/jackets/smix-side.jpg");
}

.jacket-image-helly {
  background-image: url("../images/jackets/rod-forside.jpg");
}

.jacket-image-helly:hover {
  background-image: url("../images/jackets/rod-side.png");
}

.jacket-preivew a {
  font-family: "Nirmala", Arial, Helvetica, sans-serif;
  color: #333333;
  letter-spacing: 2px;
}

.h2-jacket {
  padding: 10px 0px;
}

/*** RESPONSIVE ***/

@media (max-width: 1000px) {
  .jackets {
    grid-template-columns: 1fr 1fr;
  }

  .table {
    width: 600px;
  }
}

@media (max-width: 800px) {
  .jackets {
    grid-template-columns: 1fr;
  }
  .jacket {
    grid-template-columns: 1fr;
  }

  .second-details {
    display: none;
  }

  .table {
    width: 350px;
  }
}
